.Header {
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header img {
width:100px;
margin-left: 20px;
}

.Header-option {
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.Header-optionLineTwo{
    font-weight: bold;
}

.Header-search {
    flex-grow: 1;
    height:40px;
    border-radius: 4px;
    overflow:hidden;
}

.Header-search input {
    /* flex-grow: 1; */
    width: 100%;
}

.Header-navItems {
    display: flex;
    flex-direction: row;
}

.Header-searchIconContainer {
    width:45px;
    background-color: #febd69;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Header-optionCart {
    display:flex;
    align-items: center;
    padding: 9px;
}

.Header-cartCount {
    font-weight: bold;
    color: #febd69;
}